@import "../../theme";
@import "../../variables";

.dialog-root {
  z-index: 100;
  top: 0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  @include theme-aware("background", "no-active");
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;

  .task-view {
    border-radius: 4px;
    overflow: hidden;
    overflow-y: auto;
    @include theme-aware("box-shadow", "ui-shadow-dialog");
    @include theme-aware("background", "bg-body");
    @include theme-aware("color", "text-100");
    height: min(100vh, 250px);
    width: min(100vw, 300px);
    max-height: 800px;
    &::-webkit-scrollbar{
      width: 4px;
    }
  }
}
.task-window{
  height: 100vh;
  width: 100vw;
  .task-view{
    height: 100vh;
    width: 100vw;
    &__title{
      -webkit-app-region: drag;
      &--rightside{
        &-close{
          -webkit-app-region: no-drag;
          height: 41px;
          width: 41px;
          &:hover{
            background-color: $color-red !important;
            &::after, &::before{
              background-color: #fff !important;
            }
          }
        }
      }
    }
  }
}

.task-view {
  position: relative;
  @include theme-aware("box-shadow", "ui-shadow-dialog");
  border: 0;
  user-select: none;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    @include theme-aware("box-shadow", "stroke-opacity", "0 1px 0");
    @include theme-aware("background", "bg-body");
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;

    &--text {
      display: flex;
      align-items: center;
      min-height: 32px;
      flex-grow: 1;
      padding: 10px 0 10px 10px;
      font: $dialog-title;
    }

    &--rightside {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 41px;
      &-close {
        position: relative;
        width: 24px;
        height: 24px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin: 4px;

        &:hover {
          @include theme-aware("background", "bg-hover");

        }

        &::after {
          content: "";
          display: block;
          position: fixed;
          width: 2px;
          height: 20px;
          @include theme-aware("background", "text-100");
          transform: rotateZ(45deg);
        }

        &::before {
          content: "";
          display: block;
          position: fixed;
          width: 2px;
          height: 20px;
          @include theme-aware("background", "text-100");
          transform: rotateZ(-45deg);
        }
      }
    }
  }

  &__description {
    padding: 10px;
    overflow: hidden;

    &--text {
      min-height: 100px;
      height: 100%;
      border-radius: 4px;
      padding: 5px;
      @include theme-aware("background", "bg-second");
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }
}