@import "../theme";

body {
  @include important-theme-aware("background-color", "bg-body");

}

#root {
  @include theme-aware("background-color", "bg-body");
  height: 100vh;
  width: 100%;
  
    .whole-picture {
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
      }
    
      .header {
        display: flex;
        align-items: flex-end;
        padding: 0 10px;
        gap: 5px;
    
        .theme-switcher {
          width: fit-content;
          height: fit-content;
        }
      }
}