/*Colors*/
/*---------------------------------*/

/*Default*/

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

/*Base*/
$color-black: #201f1e;
$color-white: $color-default-white;
$color-font-black: $color-black;
$color-grey--80: #605e5c;
$color-grey--60: #a19f9d;
$color-hover: rgba($color-black, 0.04);
$color-stroke: #e1dfdd;
$color-stroke-opacity: rgba($color-black, 0.12);
$color-bg: #f3f3f3;
$color-blue: #407ec9;
$color-blue-light: #0091ff;
$color-blue-greyish: #89a6f3;
$color-red: #d83b01;
$color-red-light: rgba($color-red, 0.08);
$color-red-light-16: rgba($color-red, 0.16);
$color-green: #06c270;
$color-green-light: rgba($color-green, 0.08);
$color-green-light-12: rgba($color-green, 0.12);
$color-green-light-16: rgba($color-green, 0.16);
$color-yellow: #f8af23;
$color-yellow-light-16: rgba($color-yellow, 0.16);
$color-files: #5b6888;
$color-orange-light: #f6d9b7;

$color-primary: $color-blue;
$color-primary--dark: mix($color-primary, $color-default-black, 80%);
$color-primary--light: $color-blue-light;

$color-message: rgba($color-primary, 0.16);
$color-selected: rgba($color-primary--light, 0.08);
$color-inactive: rgba($color-white, 0.6);

/*Calls*/
$color-black-call: #323130;
$color-black-call-hover: #434140;

/*Gradient*/

$black-to-right: linear-gradient(
  90deg,
  rgba(0, 0, 0, 0.75) 0%,
  rgba(0, 0, 0, 0) 75%
);

/*Typography*/
/*---------------------------------*/

$font-family--primary: 'Lato', 'Helvetica', sans-serif;

/*Animation*/
/*---------------------------------*/

$default-transition-function: ease-in-out;
$default-transition-duration: 0.3s;
$default-transition-settings: $default-transition-duration
  $default-transition-function;
$fast-transition-settings: 0.1s $default-transition-function;
$modal-transition-settings: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

/*Viewports*/
/*---------------------------------*/

$viewport--sm: 360px;
$viewport--md: 768px;
$viewport--lg: 1024px;
$viewport--xl: 1440px;
$viewport--xxl: 1920px;

/*Retina*/
/*---------------------------------*/

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/*Container*/
/*---------------------------------*/

$container: 1290px;
$padding-desktop: 32px;
$padding-tablet: 24px;
$padding-mobile: 16px;

/*Font*/
/*example font: $header;*/
$main-family: "Lato", sans-serif;
$regular: 400;
$bold: 700;

$dialog-title: $regular 24px/32px $main-family;
$header-bold: $bold 18px/24px $main-family;
$header: $regular 18px/24px $main-family;
$body-bold: $bold 15px/20px $main-family;
$body: $regular 15px/20px $main-family;
$footnote-bold: $bold 13px/18px $main-family;
$footnote: $regular 13px/18px $main-family;
$metadata: $regular 12px/16px $main-family;
$metadata-limited: $regular 10px/12px $main-family;