.header-wrapper {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;

  -webkit-app-region: drag;

  .header-title {
    display: flex;
    justify-content: space-between;

    .left-side {
      padding-left: 10px;
    }

    .right-side {

      // padding-right: 10px;
      &--close-btn {
        padding: 0 5px;
        -webkit-app-region: no-drag;
        cursor: pointer;
        transition: 0.1s ease-in-out;

        svg path {
          stroke: black;
        }

        &:hover {
          background-color: red;

          svg path {
            stroke: white;
          }
        }
      }
    }
  }
}